@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo{
    margin-top: 3%;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 100px;
}

.linea-c{
    width: 100%;
    border: 1px solid rgb(0, 8, 0);
    margin-top: 1%;
}

.linea-2{
    width: 100%;
    border: 1px solid rgb(0, 12, 0);
    margin-top: 1%;
}

.color{ 
    color: rgb(0, 8, 0);
}
 
 
.menú{
     width: 100%;
     height: 4.5vh;
     display: flex;
     justify-content: space-around;
     cursor: pointer;
   
}
 
.menú > nav{
     display: flex;
     float: left;
     width: 40%;
     margin-left: 5%;
}

.menú > nav > a{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    border: 1px solid #000000;
}
 
 
.menú > nav > a:hover{
    color: rgb(197, 33, 186);
}

.menú > .iconos{
     width: 20%;
     height: 50px;
    margin-left: -45%;

}

.menú > .iconos > a > .fa{
    width: 4%;
    height: 10px;
    color: black;
    font-size: 20px;
    margin-left: 8%;
    margin-top: 5%;
}

.cuadro{
    border: 1px solid #000000;
    width: 60%;
    height: 50%;
    margin-top: 4%;
    margin-left: 23%;
}

img{
   width: 100%;
}

.primeralinea{
    width: 100%;
    border: 1px solid rgb(0, 8, 0);
    margin-top: 1%;
}

.segundalinea{
    width: 100%;
    border: 1px solid rgb(0, 8, 0);
    margin-top: 1%;
}
.fila{
    flex-flow: row;
    display: flex;
}

.fila > .tex{
    width: 70%;
    height: 30vh;
}

.fila > .tex > h1{
   
    font-size: 70px;
    margin-top: 6%;
    font-family: 'Alfa Slab One', cursive;
    margin-left: 10%;

}

.fila > .corr{
    width: 18%;
    margin-top: 4%;
    
}

.fila > button{
     width: 10%;
     height: 8vh;
    background: blueviolet;
    color: #ffffff;
    margin-left: 1%;
    margin-top: 5%;
}

.fila > button:hover{
    background: #000000;
}

 .fila1 > .libro{
    display: flex;
    flex-flow: row;
    width: 37%;
    height: 70vh;
    margin-top: 3%;
    margin-left: 9%;
    border: 1px solid black;
}

.fila1 > .libro > img{
    width: 49%;
    height: 70vh;
}





.linea-3{
    width: 100%;
    border: 1px solid rgb(0, 12, 0);
    margin-top: 40%;
}

.subtitulo3{
    margin-top: 10%;
    margin-left: 25%;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contacto{
    width: 50%;
    height: 60%;
    margin-top: 5%;
    margin-left:25%;
}

#buton{
    background: #a90feb;
    margin-top: 3%;
    margin-left: 38%;
    width: 30%;
    height: 8vh;
}


#buton:hover{
background: #000000;
}

.cuadro-gris{
    background: #b9b9bd;
    margin-top: 5%;
    color: black;
    width: 100%;
    height: 10vh;
}

.parrafo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vh;
   margin-left: 30%;
}

 




