@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    margin-top: 3%;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 100px;
}

img{
    margin-left: 45%;
    margin-top: 5%;
}

.for{
    width: 40%;
    height: 40vh;
    margin-left: 31%;
}

.for > button{
    width: 20%;
    height: 7vh;
    background-color: darkorchid;
    margin-left: 40%;
}


